.container
  .jumbotron
    .row
      .col-md-4.col-xs-12.col-sm-6.col-lg-4
        - if current_user.avatar.blank?
          = image_tag("avatar.png",alt: "avatar", class: "img")
        - else
          = image_tag(current_user.avatar.url,alt: "avatar", class: "img")
      .col-md-8.col-xs-12.col-sm-6.col-lg-8
        .container{:style => "border-bottom:1px solid black"}
          %h2= current_user.name
        %hr
        %ul.container.details
          %li
            %p
              %span.glyphicon.glyphicon-earphone.one{:style => "width:50px;"}>
              = current_user.phone
          %li
            %p
              %span.glyphicon.glyphicon-envelope.one{:style => "width:50px;"}>
              = current_user.email
          %li
            %p
              %span.glyphicon.glyphicon-map-marker.one{:style => "width:50px;"}>
              = current_user.address
          %li
            %p
              %span.glyphicon.glyphicon-new-window.one{:style => "width:50px;"}
              = link_to t('buttons.edit'), edit_user_registration_path

  .row
  .span5
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th #
          %th= t('.id')
          %th= t('.date_registered')
          %th= t('.total')
          %th= t('.address')
          %th= t('.status')
      %tbody
        - @orders.each_with_index do |order, index|
          %tr
            %td= create_index params[:page], index, 6
            %td= order.id
            %td= order.created_at
            %td $ #{order.total}
            %td= order.address
            %td
              - if order.status == "pending"
                %span.label.label-warning= = t('.pending')
              - else
                %span.label.label-success= t('.active')

