<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product </th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                  <% product_in_carts.each do |product| %>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <%= image_tag(product.image, style: "width: 72px; height: 72px;") %> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#"><%= product.name %></a></h4>
                                <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value=<%= @order_cart["#{product.id}"] %> >
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$<%= product.price %></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$<%= total_price_product product.price, @order_cart["#{product.id}"] %></strong></td>
                        <td class="col-sm-1 col-md-1">
                        <%= link_to "Remove", cart_path(product.id), method: :delete, class: 'btn btn-danger sub', remote: true %>
                        </td>
                    </tr>
                    
                    <%end%>
                    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$<%= subtotal %></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <%= link_to root_url, class: "btn btn-default" do %>
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        <% end %></td>
                        <td>
                        <%= form_for @order, url: {controller: "orders", action: "create"}, remote: true do |f| %>
			                <p>
			                 <%= f.label :address, "Address" %>
			                 <%= f.text_field :address, class: "form_control" %>
			                </p>
			                <p>
			                  <%= f.label :date_delivery, "Date Delivery" %>
			                  <%= f.date_field :date_delivery, class: "form_control" %>
			                </p>
			                <p>
			                  <%= f.hidden_field :total, value: subtotal.to_i %>
			                  <% if user_signed_in? %>
			                    <%= f.hidden_field :user_id, value: current_user.id %>
			                  <% end %>
			                </p>
                          <%= f.button type: "submit", class: "btn btn-success" do %>
                            Checkout <span class="glyphicon glyphicon-play"></span>
                          <%end%>
                        <%end%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
