%h1= t('.title')
= search_form_for @search, url: products_path do |f|
  = f.label :number
  = select_tag :limit, options_from_collection_for_select(Settings.show_limit, :second, :second, selected: params[:limit] || Settings.show_limit.limit),id: "show-limit", style: "width: 4%"
  = f.submit "search", class: "btn-info", style: "display: none; margin-right: 10px; "
.layout
  %section.inner
    %ul.grid
      - @products.find_each do |product|
        = render "layouts/product", product: product
  = paginate @products, theme: 'twitter-bootstrap-3'
