.card
  .container-fliud
    .wrapper.row
      .preview.col-md-6
        .preview-pic.tab-content
          #pic-1.tab-pane.active= image_tag(@product.image,alt: "image_product")
      .details.col-md-6
        %h3.product-title= @product.name
        .rating
          .stars
            %span.fa.fa-star.checked
            %span.fa.fa-star.checked
            %span.fa.fa-star.checked
            %span.fa.fa-star
            %span.fa.fa-star
          %span.review-no 
        %p.product-description= @product.detail
        %h4
          #{t('.current price')}
          %span.price
            $#{@product.price}
        %h5.sizes
          sizes:
          %span.size{"data-toggle" => "tooltip", :title => "small"}= t('.s')
          %span.size{"data-toggle" => "tooltip", :title => "medium"}= t('.m')
          %span.size{"data-toggle" => "tooltip", :title => "large"}= t('.l')
          %span.size{"data-toggle" => "tooltip", :title => "xtra large"}= t('.xl')
        %h5.colors
          colors:
          %span.color.orange.not-available{"data-toggle" => "tooltip"}
          %span.color.green
          %span.color.blue
        .action
          = form_for :session, url: {controller: "carts", action: "create"}, remote: true do |f|
            = f.hidden_field :product_id, value: @product.id
            = f.button t('buttons.add_to_cart'), class: "add-to-cart btn btn-default", onclick: "changeCart()", type: "submit"
           
