%li.grid-tile
  .item
    = link_to product do
      .item-img{:style => "background-image: url(#{asset_path product.image}); background-size: auto auto; background-size: 100%; background-position: center 30%;"}
    .item-pnl
      .pnl-wrapper
        .pnl-description
          %span.pnl-label= link_to product.name, product
          - if product.sale > 0
            %span.pnl-price{:style => "text-decoration: line-through; color: red;"} $ #{product.price} 
            %span.pnl-price $ #{price_product product}
          - else
            %span.pnl-price $ #{product.price}
            
        .pnl-tocart
          = form_for :session, url: {controller: "carts", action: "create"}, remote: true do |f|
            = f.hidden_field :product_id, value: product.id
            = f.submit t("buttons.add_to_cart"), class: "add-to-cart btn btn-default", onclick: "changeCart()"
